.container {
  min-height: 100vh;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.font-mono {
  font-family: var(--font-mono);
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.p-0 {
  padding: 0;
}

.mb-8 {
  margin-bottom: 2rem;
}

.list-none {
  list-style-type: none;
}
